<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section id="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a href="#" class="navbar-brand">Template</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Service</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <section id="welcome">
        <div class="container">
            <div class="welcome text-center shadow-lg">
                <h1>Welcome to Make Up Exam</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptates excepturi iusto reprehenderit officia natus assumenda quibusdam, earum qui tempore et vero a consequuntur velit corporis sint fugit praesentium laudantium!</p>
                <button class="btn btn-primary" type="submit">Make Exm Now</button>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Database Make up Exam</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea tempore neque dolore aut animi. Iusto non dolor dicta id fugiat nesciunt, quasi facilis. Ut, quibusdam. Numquam cupiditate in commodi tenetur.</p>
                </div>
                <div class="col-md-6">
                    <h3>Laravel Make up Exam</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt enim atque in rerum hic laboriosam ea, dignissimos debitis? Blanditiis autem voluptatem omnis veniam corrupti qui facere velit reprehenderit corporis deleniti.</p>

                </div>
            </div>
        </div>
    </section>

    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
